*{
  padding: 0px;
  margin:0px;
}
.App{
  text-align: center;
}
/* home css */
.navcss {
  background: green;
  color: white;
  padding: 9px 0px;
}

.navcss a {
  color: white;
  margin: 0px 5px;
  text-decoration: none;
}
input:focus{
  outline: none;
}